In [1]:
import pandas as pd

In [4]:
train_dataset = pd.read_csv('../dataset/train.csv', index_col=0)
test_dataset = pd.read_csv('../dataset/test.csv', index_col=0)
dataset = pd.concat([test_dataset, train_dataset])
dataset = dataset.drop(columns=['location', 'keyword', 'target'])
dataset.sort_index(inplace=True)
dataset

                                                    text
id
0                     Just happened a terrible car crash
1      Our Deeds are the Reason of this #earthquake M...
2      Heard about #earthquake is different cities, s...
3      there is a forest fire at spot pond, geese are...
4                 Forest fire near La Ronge Sask. Canada
...                                                  ...
10871  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...
10872  Police investigating after an e-bike collided ...
10873  The Latest: More Homes Razed by Northern Calif...
10874  MEG issues Hazardous Weather Outlook (HWO) htt...
10875  #CityofCalgary has activated its Municipal Eme...

[10876 rows x 1 columns]

In [15]:
df = pd.DataFrame()
df['has_insecure_link'] = dataset['text'].apply(lambda x: 1 if 'https://' in x else 0)
df['has_secure_link'] = dataset['text'].apply(lambda x: 1 if 'http://' in x else 0)
df['has_link'] = df['has_insecure_link'] | df['has_secure_link']
df['has_www'] = dataset['text'].apply(lambda x: 1 if 'www' in x else 0)
df['insecure_link_count'] = dataset['text'].apply(lambda x: x.count('http://'))
df['secure_link_count'] = dataset['text'].apply(lambda x: x.count('https://'))
df['link_count'] = df['insecure_link_count'] + df['secure_link_count']

,has_insecure_link,has_secure_link,has_link,has_www,insecure_link_count,secure_link_count,link_count
id,,,,,,,
0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
10871,0,1,1,0,1,0,1
10872,0,0,0,0,0,0,0
10873,0,1,1,0,1,0,1
10874,0,1,1,0,1,0,1
10875,0,0,0,0,0,0,0

In [20]:
df['has_hashtagh'] = dataset['text'].apply(lambda x: 1 if '#' in x else 0)
df['hashtag_count'] = dataset['text'].apply(lambda x: x.count('#'))

,has_insecure_link,has_secure_link,has_link,has_www,insecure_link_count,secure_link_count,link_count,has_hashtagh,hashtag_count
id,,,,,,,,,
0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,1
2,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
10871,0,1,1,0,1,0,1,0,0
10872,0,0,0,0,0,0,0,0,0
10873,0,1,1,0,1,0,1,0,0
10874,0,1,1,0,1,0,1,0,0
10875,0,0,0,0,0,0,0,1,2

In [24]:
df['has_user_mentions'] = dataset['text'].apply(lambda x: 1 if '@' in x else 0)
df['user_mentions_count'] = dataset['text'].apply(lambda x: x.count('@'))
df

,has_insecure_link,has_secure_link,has_link,has_www,insecure_link_count,secure_link_count,link_count,has_hashtagh,hashtag_count,has_user_mentions,user_mentions_count
id,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,1,0,0
2,0,0,0,0,0,0,0,1,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
10871,0,1,1,0,1,0,1,0,0,0,0
10872,0,0,0,0,0,0,0,0,0,0,0
10873,0,1,1,0,1,0,1,0,0,0,0
10874,0,1,1,0,1,0,1,0,0,0,0
10875,0,0,0,0,0,0,0,1,2,0,0

In [25]:
df.describe()

,has_insecure_link,has_secure_link,has_link,has_www,insecure_link_count,secure_link_count,link_count,has_hashtagh,hashtag_count,has_user_mentions,user_mentions_count
count,10876.000000,10876.000000,10876.000000,10876.000000,10876.000000,10876.000000,10876.000000,10876.000000,10876.000000,10876.000000,10876.000000
mean,0.056271,0.472968,0.524274,0.000919,0.566385,0.056914,0.623299,0.236208,0.454763,0.273538,0.371368
std,0.230454,0.499292,0.499433,0.030310,0.663053,0.234451,0.664063,0.424771,1.097154,0.445795,0.731997
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,4.000000,2.000000,4.000000,1.000000,13.000000,1.000000,10.000000

In [26]:
df.to_csv('../features/links_and_hashtags.csv', index=True)